.about-feedback {
    display: flex;
    width: 100%;
    max-width: 1366px;
    height: 550px;
    text-align: center;
  }  
.about-feedback-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 45px;
}
.about-feedback-text{
    display: flexbox;
    flex-direction: column;
    width: 100%;
}
.about-feedback-text h2{
    color: #093660;
    font-family: "Playfair Display";
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about-feedback-text p{
    color: #707070;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
}
.about-feedback-clin{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  .right-arrow  {
    display: inline-block;
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    margin: 0 10px; 
    text-decoration: none;
    border-radius: 14px;
    background-color: #50d8d7;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22); 
    transition: 500ms;
  }
  .left-arrow {
    display: inline-block;
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    margin: 0 10px; 
    text-decoration: none;
    border-radius: 14px;
    background-color: #50d8d7;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22); 
    transition: 500ms;
  }
  .left-arrow:hover{
    cursor: pointer;
    transform: scale(0.9);
    background: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
  }
  
  .right-arrow:hover{
    cursor: pointer;
    transform: scale(0.9);
    background: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
  }
  
  .left-arrow::before {
    content: "←";
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
  }
  
.right-arrow::before {
    content: "→";
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
  }

  .about-feedback-clinent {
    display: flex;
    flex-direction: column;
    padding:  35px;
    gap: 25px;
    max-width: 980px;
    width: 100%;
    height: 300px;
    border: 1px solid rgba(106, 216, 249, 0.42);
    background: #f1feff;
    border-radius: 14px;
    transition: opacity 0.5s ease-in-out;
  }
  .about-feedback-clinent h3{
    color: #093660;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
.about-feedback-clinent p{
    color: #707070;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
  }
  @media (max-width:1279px) {
    .about-feedback {
      height: 100%;
    }
    .about-feedback-text h2{
      font-size: 42px;
    }
    
  }


