.header-mobile{
    display: none;
}

@media (max-width: 1279px) {
    .header-mobile{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30px;
        background-color: #fff;
    }
    .header-mobile-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        border-bottom: 1px solid #000;
    }
    .header-mobile-logo{
        display: flex;
        width: 60px;
        justify-content: center;
        align-items: center;

    }
    .header-mobile-logo-img{
        width: 50px;
    }
    .header-mobile-text{
        display: flex;
        max-width: 120px;
        width: 100%;
    }
    .header-mobile-text h2{
        color: #000;
        font-size: 22px;
        font-family: "Clicker Script";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .header-mobile-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
    }
    .header-mobile-menu-button{
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
    }
    .header-mobile-nav{
        display: none;
        transition: transform 0.3s ease;
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
        gap: 35px;
        border-bottom: 1px solid #000;
        align-items: center;
    }
    .header-mobile-nav.open{
        display: flex;
        transform: translateY(0);
    }
    .header-mobile-navigat{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .header-mobile-navigat li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header-mobile-button{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 5px 20px;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;

    }
    .shooping-button-header-mobile{
        cursor: pointer;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 15px;
        border-radius: 24px;
        background-color: #50d8d7;
        box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22); 
        color: #fff;
        font-family: "Playfair Display";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 500ms;
    }
    .shooping-button-header-mobile:hover{
        transform: scale(0.9);
        background: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
    }


}