.different{
    display: flex;
    width: 100%;
    max-width: 1366px;
    height: 450px;
}
.different-cont{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.different-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.different-cont h3{
    color: #093660;
    font-family: "Playfair Display";
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.different-cont p{
    color: #707070;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
}

.different-icon{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 32px;
    gap: 20px;
}
.different-icon-1{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}
.different-icon-2{
    display: flex;
    max-width: 280px;
    width: 100%;
    height: 284px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(117, 221, 239, 0.859);
    background: #c8d9e7;
}
.different-icon-2:hover{
    background:rgba(117, 221, 239, 0.859);
}
.different-icon-2 img{
    width: 88px;
    height: 88px;
}
.different-icon-2 h3{
    color: #093660;
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.different-icon-2 p{
    height: 60px;
    color: #707070;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
@media (max-width:1279px) {
    .different{
        height: 100%;
    }
    .different-icon{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .different-icon-1{
        justify-content: center;
        gap: 5px;
    }

    .different-icon-2{
        max-width: 230px;
        height: 250px
    }
    .different-cont h3{
        font-size: 42px;
    }
    .different-icon-2 img{
        width: 66px;
        height: 66px;
    }
    .different-icon-2 h3{
        font-size: 22px;
    }
    .different-icon-2 p{
        font-size: 18px;
    }

}